@import url("//at.alicdn.com/t/font_2264842_3izu8i5eoc2.css")
svg
  &.icon
    width 1em
    height 1em
    vertical-align -0.15em
    fill currentColor
    overflow hidden

.iconfont
  font-family "iconfont" !important
  font-size 1.85em
  font-style normal
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-rat
  &:before
    color #85c3de

.icon-ox
  &:before
    color #ffaf6e

.icon-tiger
  &:before
    color #f7c768

.icon-rabbit
  &:before
    color #ffbdd8

.icon-dragon
  &:before
    color #ff8787

.icon-snake
  &:before
    color #c3d686

.icon-horse
  &:before
    color #ffaf6e

.icon-goat
  &:before
    color #f7c768

.icon-monkey
  &:before
    color #c3d686

.icon-rooster
  &:before
    color #ff8787

.icon-dog
  &:before
    color #85c3de

.icon-boar
  &:before
    color #ffbdd8
