//页脚计时器
div#runtime
  width 180px
  margin auto
  color white
  padding-inline 5px
  border-radius 10px
  background-color rgba(0,0,0,0.7)
  font-family 'UnidreamLED'

// 夜间全局透明度
[data-theme="dark"]
  div#runtime
      color rgb(40, 180, 200)
      box-shadow 0 0 5px rgba(28, 69, 218, 0.71)
      animation flashlight 1s linear infinite alternate
@keyframes flashlight
  from
    box-shadow 0 0 5px rgb(20, 120, 210)
  to
    box-shadow 0 0 2px rgb(20, 120, 210)
